html {
}

body {
  background-image: url(./img/MAP.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

.locationM1 {
  position: absolute;
}

.locationM2 {
  position: absolute;
}

.locationD1 {
  position: absolute;
}

.locationD2 {
  position: absolute;
}

.locationT1 {
  position: absolute;
}

.locationT2 {
  position: absolute;
}
