html {
}

body {
  background-image: url(./img/MAP.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height:0px;
  width: 100vw;
  min-width:0px;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

.locationM1 {
  position: absolute;
}

.locationM2 {
  position: absolute;
}

.locationD1 {
  position: absolute;
}

.locationD2 {
  position: absolute;
}

.locationT1 {
  position: absolute;
  left:49vw;
  top:73vh;
}

.locationT2 {
  position: absolute;
}


.timg{
  height:5vh;
  width:5vw;
  opacity: 0.9;
}

.timg:hover {
  height:12vh;
  width:12vw;

}

